body {
    background-color: #2C2828;
    display: flex;
    align-items: center;
}

/* testing! */
.who {
    position: absolute;
    width: 1011px;
    /* height: 130px; */
    left: 81px;
    top: 70px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    white-space: nowrap;
    
    color: #F20FC6;
    
}    

.padding {
    margin-bottom: 50px;
}

.selectdesc{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    white-space: nowrap;
    /* identical to box height */
    
    /* display: flex;
    align-items: center;
    letter-spacing: 0.2em; */
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    color: #C646E6;
}    

.nothere{
    position: absolute;
    width: 326px;
    height: 21px;
    left: 593px;
    top: 728px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    white-space: nowrap;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.searchartist{
    position: absolute;
    width: 698px;
    height: 24px;
    left: 407px;
    top: 785px;

    padding: 10px 30px;
    background-color: #F20FC6;
    border-radius: 95px;
    font-weight: 800;
    font-family: "xpaider pixel explosion 02";
    text-decoration: none;
    align-items: center;

}

.searchartist:hover {
    background-color: violet;
    color: black;
}

#next {
    padding: 10px 20px;
    background-color: #F20FC6;
    color: black;
    border-radius: 99px;
    font-weight: 800;
    font-family: "xpaider pixel explosion 02";
    text-decoration: none;
    font-size: 20px;

    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#next:hover {
    background-color: violet;
    color: black;
}

#artist1 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 300px;
    top: 226px;
}

#artist2 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 400px;
    top: 491px;

}

#artist3 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 625px;
    top: 300px;
}

#artist4{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 900px;
    top: 193px;
}

#artist5 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 1000px;
    top: 489px;
}

#artist6 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 1250px;
    top: 316px;
}