body {
    background-color: #2C2828 ;
  }
/* TESTING */
.greeting {
  margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-80%, 10%);
    display: block;
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
  
    color: #F20FC6;

  
  }

#angry {
  background-color: #2C2828;
  border: none;

  position: absolute;
  height: 150px;
  width: 180px;
  height: 180px;
  left: 823.11px;
  top: 620px;
}

#happy {
  background-color: #2C2828;
  border: none;

  position: absolute;
  height: 150px;
  width: 180px;
  height: 180px;
  left: 908.39px;
  top: 407.47px;
}

#sad {
  background-color: #2C2828;
  border: none;

  position: absolute;
  height: 150px;
  width: 180px;
  height: 180px;
  left: 700.21px;
  top: 273px;
}

#party {
  background-color: #2C2828;
  border: none;

  position: absolute;
  height: 150px;
  width: 180px;
  height: 180px;
  left: 572.43px;
  top: 616.39px;
}

#relaxed {
  background-color: #2C2828;
  border: none;

  position: absolute;
  height: 150px;
  width: 180px;
  height: 180px;
  left: 503.03px;
  top: 394.59px;
}

#greeting1 {
  display: block;
}

#greeting2 {
  padding-top: 20px;
  display: block;
}

.how{
  display: block;
  font-family: 'xpaider pixel explosion 02';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;

  color: #F20FC6;
}