body {
    background-color: #2C2828;
  }

  .text {
    display: block;
    padding-bottom: 150px;
    
  }

  .wink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }

  .sc {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .padding {
    padding-left: 30px;
  }
  
  .name {
    font-family: 'xpaider pixel explosion 02';
    font-weight: 400;
    font-size: 80px;
    line-height: 10px;
    /* identical to box height */
  
    display: flex;
    justify-content: start;
    letter-spacing: 0.2em;
  
    color: #F20FC6;
  
  }
  
  .greeting {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 45%;
       
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;

    /* identical to box height */
  
    display: flex;
    justify-content: center;
    letter-spacing: 0.2em;
  
    color: #C646E6;
    
  }
  
  .sc{
   
  
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    white-space: nowrap;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #F20FC6;
  }
  
  .wink {
    width: 575px;
    height: 178.35px;
    left: 464px;
    top: 307px;
  }
  
  .spotifylogo{
    width: 58px;
    height: 58px;
    left: 479px;
    top: 800px;
  }

  .Feelings {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;}


#next {
    font-family: inherit;
    padding: 10px 30px;
    background-color: #F20FC6;
    border-radius: 100px;
    font-weight: 800;
    font-family: "xpaider pixel explosion 02";

    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }

#next:hover {
  background-color: violet;
  color: black;
}