body {
    background-color: #2C2828;
  }

  .text {
    display: block;
    padding-bottom: 100px;
  }

  .wink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }

  .sc {
    display: flex;
    justify-content: center;
  }

  .padding {
    padding-left: 30px;
  }
  
  .name {
    font-family: 'xpaider pixel explosion 02';
    font-weight: 400;
    font-size: 50px;
    line-height: 10px;
    /* identical to box height */
  
    display: flex;
    justify-content: start;
    letter-spacing: 0.2em;
  
    color: #F20FC6;
  
  }
  
  .greeting {
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */
  
    display: flex;
    justify-content: start;
    letter-spacing: 0.2em;
    white-space: nowrap;
  
    color: #C646E6;
  }
  
  .sc{
    width: 459px;
    height: 36px;
    left: 573px;
    top: 776px;
  
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    white-space: nowrap;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #F20FC6;
  
  }
  
  .wink {
    width: 575px;
    height: 178.35px;
    left: 464px;
    top: 307px;
  }
  
  .spotifylogo{
    width: 58px;
    height: 58px;
    left: 479px;
    top: 800px;
  }

  .Feelings {
    font-family: inherit;
    padding: 10px 20px;
    background-color: #F20FC6;
    border-radius: 99px;
    font-weight: 800;
    font-family: "xpaider pixel explosion 02";
  }