.login {
    display:grid;
    place-items: center;
    height: 100vh;

}

body {
    background-color: #2c2828;
}
/* comment passing */

.login > h1{
    font-family: "xpaider pixel explosion 02";
    color: #F20FC6;
    
    
}

.login > a{

    padding: 20px;
    background-color: #F20FC6;
    border-radius: 99px;
    font-weight: 800;
    font-family: "xpaider pixel explosion 02";
    text-decoration: none;
}