nbody {
    background-color: #2C2828;
    display: flex;
    align-items: center;
}

.namesplaylist {
    position: absolute;
    height: 53px;
    left: 81px;
    top: 62px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #F20FC6;
}
#createp{
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 26px;

    padding: 20px 40px;

    letter-spacing: 0.2em;

    color: #2C2828;

    position: absolute;
    width: 300px;
    height: 100px;
    left: 42%;
    top: 3800px;
    
    background: #F20FC6;
    border-radius: 95px;
}

.play:hover {
    background-color: violet;
    color: black;
}

.save{
    position: absolute;
    height: 21px;
    left: 612px;
    top: 887px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;

    left: 44.5%;
    top: 3910px;
    
}

/* song 1 */

.s1{
   
    position: absolute;
    height: 23px;
    left: 330px;
    top: 230px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a1{
    position: absolute;
    height: 33px;
    left: 330px;
    top: 180px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 53px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num1{
    position: absolute;
    width: 10px;
    height: 1px;
    left: 55px;
    top: 187px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.circle1{
    position: absolute;
    width: 180px;
    height: 180px;
    left: -480px;
    top: -100px;
    
}

/* song 2 */

.circle2{
    position: absolute;
    width: 180px;
    height: 180px;
    left: -1235px;
    top: 190px;
    
}

.s2{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 457px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a2{
    position: absolute;
    width: 168px;
    height: 23px;
    left: 330px;
    top: 407px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num2{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 400px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

/* song 3 */

.circle3{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 100px;
    left:-805px
}

.s3{
    position: absolute;
    height: 33px;
    left: 330px;
    top: 670px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a3{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 620px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num3{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 620px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

/* song 4 */

.c4{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 850px;
    
}
.s4{
    position: absolute;
    height: 993px;
    left: 330px;
    top: 425px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num4{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 850px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a4{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 860px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 5 */

.c5{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 1100px;
    
}
.s5{
    position: absolute;
    height: 993px;
    left: 330px;
    top: 685px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num5{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 1100px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a5{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 1110px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 6 */

.c6{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 1350px;
    
}
.s6{
    position: absolute;
    height: 1500px;
    left: 330px;
    top: 685px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num6{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 1380px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a6{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 1370px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 7 */
.c7{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 1610px;
    
}
.s7{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 925px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num7{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 1630px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a7{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 1620px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 8 */
.c8{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 1860px;
    
}
.s8{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 1185px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num8{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 1880px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a8{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 1880px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 9 */
.c9{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 2100px;
    
}
.s9{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 1425px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num9{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 2120px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a9{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 2120px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 10 */

.c10{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 2340px;
    
}
.s10{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 1685px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num10{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 2360px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a10{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 2380px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 11 */

.c11{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 2600px;
    
}
.s11{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 1945px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num11{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 2620px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a11{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 2640px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 12 */
.c12{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 2840px;
    
}
.s12{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 2175px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num12{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 2860px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a12{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 2870px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

/* song 13 */

.c13{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 3080px;
    
}
.s13{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 2415px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num13{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 3100px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a13{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 3110px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}
/* song 14 */
.c14{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 3330px;
    
}
.s14{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 2635px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num14{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 3350px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a14{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 3330px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}
/* song 15 */
.c15{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 110px;
    top: 3580px;
    
}
.s15{
    position: absolute;
    height: 1500px;
    left: 333px;
    top: 2905px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.num15{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 55px;
    top: 3600px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}
.a15{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 3600px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}