nbody {
    background-color: #2C2828;
    display: flex;
    align-items: center;
}

.namesplaylist {
    position: absolute;
    height: 53px;
    left: 81px;
    top: 62px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #F20FC6;
}

.play{
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 26px;

    padding: 20px 40px;

    letter-spacing: 0.2em;

    color: #2C2828;

    position: absolute;
    width: 80px;
    height: 30px;
    left: 636px;
    top: 772px;
    
    background: #F20FC6;
    border-radius: 95px;
}

.play:hover {
    background-color: violet;
    color: black;
}

.save{
    position: absolute;
    height: 21px;
    left: 642px;
    top: 887px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

/* song 1 */

.s1{
   
    position: absolute;
    height: 23px;
    left: 353px;
    top: 182px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a1{
    position: absolute;
    height: 33px;
    left: 333px;
    top: 182px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num1{
    position: absolute;
    width: 10px;
    height: 1px;
    left: 295px;
    top: 187px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.c1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 144px;
    top: 171px;
    
}

/* song 2 */

.c2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 144px;
    top: 300px;
    
}

.s2{
    position: absolute;
    height: 23px;
    left: 283px;
    top: 300px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a2{
    position: absolute;
    width: 168px;
    height: 23px;
    left: 333px;
    top: 407px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num2{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 296px;
    top: 400px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.c2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 144px;
    top: 300px;
    
}

/* song 3 */

.c3{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 144px;
    top: 300px;
    
}

.s3{
    position: absolute;
    height: 33px;
    left: 283px;
    top: 425px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.a3{
    position: absolute;
    height: 23px;
    left: 330px;
    top: 630px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.num3{
    position: absolute;
    width: 10px;
    height: 29px;
    left: 295px;
    top: 620px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

