body {
    background-color: #2C2828;
    display: flex;
    align-items: center;
}
.comment {
    position: absolute;
    width: 860px;
    height: 53px;
    left: 81px;
    top: 62px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 25px;
    line-height: 52px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #F20FC6;
}

.c1{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 81px;
    top: 163px;
}

.c2{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 81px;
    top: 389px;

}

.c3{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 81px;
    top: 615px;    

}

.s1{
    position: absolute;
    height: 25px;
    left: 337px;
    top: 240px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.s2{
    position: absolute;
    height: 25px;
    left: 337px;
    top: 466px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

.s3{
    position: absolute;
    height: 25px;
    left: 337px;
    top: 692px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
    
}

.generate{

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 26px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #2C2828;

    position: absolute;
    width: 240px;
    height: 87px;
    left: 636px;
    top: 795px;
    
    background: #F20FC6;
    border-radius: 95px;
}

.reselect{
    position: absolute;
    height: 21px;
    left: 636px;
    top: 914px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: #C646E6;

}