body {
    background-color: #2C2828;
    display: flex;
    align-items: center;
}
.tellme {
    position: absolute;
    width: 982px;
    height: 130px;
    left: 81px;
    top: 62px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #F20FC6;
}

.song1{
    position: absolute;
    width: 288px;
    height: 121px;
    left: 180px;
    top: 275px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.song2{
    position: absolute;
    width: 288px;
    height: 121px;
    left: 600px;
    top: 275px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.song3{
    position: absolute;
    width: 288px;
    height: 121px;
    left: 1046px;
    top: 275px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.searchlist {
    position: absolute;
    width: 574px;
    height: 21px;
    left: 469px;
    top: 480px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #2C2828;

    position: absolute;
    width: 698px;
    height: 59px;
    left: 407px;
    top: 461px;
    background: #F20FC6;
    border-radius: 95px;
}

.select{
    position: absolute;
    height: 21px;
    left: 645px;
    top: 683px;

    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;

    color: #C646E6;
}

.skip{

    position: absolute;
    width: 57px;
    height: 21px;
    left: 727px;
    top: 747px;
    
    font-family: 'xpaider pixel explosion 02';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    
    color: #C646E6;
}

